*.pem
*.bin
*.der
checkinfirmware.cpp
rfidkeysPRODUCTION.cpp
*/.vscode/settings.json
Software/Particle_SW/stationfirmware/target/*
Software/Particle_SW/stationfirmware/.vscode/*
.vscode/*
Software/Facility_Database_SW/datalogging/.vscode/*
Software/Facility_Database_SW/datalogging/v1/OVLconfig.ini
