

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

table.rawlogtable {
    border-collapse: collapse;
}

.photodiv {
	float: left;
	width: 220px;
	text-align: center;
	border: 1px solid lightgray;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
	border-width: 5px;
}

.legenddiv {
	float:left;	
	border: 1px solid lightgray;
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
	border-width: 5px;
	
}

.staff {
	border-color: blueviolet;
	border-width: 5px;
}

.IDPhoto {
	width: 200px;
}

p.photoname {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 200%;
}

p.lastrefreshtime {
	
}
.clientTable {
	border: 0px solid black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:220px;
}
.clientImageTD {	
	border: 0px solid black;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	height:180px;
	width:200px;
}
.clientNameTD {
	border: 0px  solid black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:40px;
}
.clientEquipTD{
	border: 0px solid black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height:50px;
	font-size:100%;
}